/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/framework/
/storage/app/
/storage/logs/
/.env
/.phpunit.result.cache
/bootstrap/cache/
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.idea
.vscode/
*.DS_Store